---
layout: default
image: "/uploads/pure-lavalla.jpg"
pagination:
  enabled: true
  per_page: 3
permalink: /
---
{% assign featured = site.pages | where: "featured", "true" %}
<section class="previews">
  <div>

    {% for post in featured %}
      {% include preview-fig.html %}
    {% endfor %}

    {% for post in paginator.posts %}
      {% include preview-fig.html %}
    {% endfor %}

    <div class="previews__container">
      <span>{{ site.greeting }}</span>
      <h1>{{ site.title }}</h1>
    </div>
  </div>

  <div>
    <header>
      <ul class="tabs">
        <li class="tabs__item">{{ site.data.language.new_posts }}</li>
        <li class="tabs__item">{{ site.name }}</li>
      </ul>
    </header>

    <div class="tab">
      <ul itemscope itemtype="http://schema.org/Blog">

        {% for post in featured %}
          {% include preview.html %}
        {% endfor %}

        {% for post in paginator.posts %}
          {% include preview.html %}
        {% endfor %}

      </ul>

      {% include archive-link.html %}

    </div>

    <div class="tab tab__profile">
      {% include profile-card.html %}
    </div>

  </div>

</section>
