$post-list-width: 32em;

.component-image-window {
  width: 100%;

  padding-right: $post-list-width;
}

.component-post-list {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: $post-list-width;
  float: right;
}

.some-icon {
  color: $color-alpha--light;
  padding: 0.4em 0.1em;

  @include border-slide($color-alpha--light, $color-alpha, 3px);

  &:before {
    transition: transform 0.1s ease-in 0.1s;
    display: inline-block;
  }
  &:hover:before {
    transition: transform 0.1s ease-in 0s;
    transform: rotate(3deg) translateY(-3px);
  }

  &:after {
    border-width: 0px;
    transition: border 0.1s ease-in-out, width 0s linear 0.1s;
  }
  &:hover:after {
    border-width: 3px;
  }
}

/**
 * Blog page
 */
.previews {
  & > * {
    &:first-child {
      @extend .component-image-window;
    }
    &:last-child {
      @extend .component-post-list;
      position: relative;
      z-index: 10;
    }
  }

  .tab ul {
    overflow: hidden;
  }

  .tabs {
    &__item {
      color: $color-alpha--light;
    }
  }

  .footer {
    &__archive {
      @include border-slide($color-alpha--light);
    }
    &__social {
      li {
	margin-right: 0.8em;
      }
      a {
	@extend .some-icon;
      }
    }
  }
}

/**
 * Article list item
 */
.preview {
  position: relative;
  overflow: hidden;
  font-size: 82%;
  margin: 1em 0;

  margin-left: 1em;
  + .preview { margin-left: 2em;
    + .preview { margin-left: 3em;
      + .preview { margin-left: 4em;
	+ .preview { margin-left: 5em;
  }}}}

  background-color: transparent !important;
  // clip-path:
  //   polygon(
  //   0% 0%,     /* top left */
  //   100% 0%,   /* top right */
  //   100% 100%,  /* bottom right */
  //   5% 100%,   /* bottom left */
  //   0% 0%      /* bottom left */
  //   );


  &::before {
    z-index: -1;
    content: "";
    display: block;
    position: absolute;
    left: 5%;
    top: 0;
    width: 100%;
    height: 100%;
    transform: skewX(12deg); // 21deg
    background-color: $color-alpha--light;
  }


  &:hover {
    margin-left: 0;
    ~ .preview {
      transform: translateX(5em);
    }

    .preview__more {
      @include button-slide-hover();
    }
  }
  &:not(:hover) {
    .preview__header {
      ~ * {
	display: none;
      }
    }
  }

  &__link {
    padding: 1em 1em 1em 5em;
    &:not(:hover) {
      padding-bottom: 0;
    }
  }

  &__header {
    position: relative;
    font-size: 170%;
  }

}
